<div class="card bg-light">
  <!-- <hr>
  <p>
    Form Value: {{ profileForm.value | json }}
  </p>
  <hr> -->
  <article class="card-body mx-auto">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your free account</p>
    <p>
      <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
      <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
    </p>
    <p class="divider-text">
      <span class="bg-light">OR</span>
    </p>
    <!-- Input form start here -->
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
      <table>

          <!-- First Name and Last Name -->
          <tr>
            <!-- FirstName -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="firstName" class="form-control" formControlName="firstName" placeholder="First Name" type="text">
            </div>
          </tr>
          <tr>
            <!-- LastName -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input name="lastName" class="form-control" formControlName="lastName" placeholder="Last Name" type="text">
            </div>
          </tr>

        <tr>
          <!-- Email  -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control" formControlName="email" placeholder="Email address" type="email">
          </div>
        </tr>
        <tr>
          <!-- Mobile Number -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;" formControlName="countryCode">
              <option value="">Country Code</option>
              <option value="1">+91</option>
              <option value="2">+98</option>
            </select>
            <input name="" class="form-control" formControlName="mobileNumber" placeholder="Phone number" type="text">
          </div>
        </tr>
        <tr>
          <!-- Location -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" formControlName="location">
              <option value=""> Select your location</option>
              <option>Banglore</option>
              <option>Hydrabad</option>
              <option>Mumbai</option>
            </select>
          </div>
        </tr>
        <tr>
          <!-- password -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" formControlName="password" name="password" placeholder="Create password" type="password">
          </div>
        </tr>
        <tr>
          <!-- Reconfirm password -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control"  formControlName="confirmPassword" placeholder="Repeat password" type="password">
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!profileForm.valid"> Create Account </button>
          </div>
          <p class="text-center">Have an account? <a href="" routerLink="/login">Log In</a> </p>
        </tr>
      </table>
    </form>
  </article>

</div>
