


<div class="container">
  <br>
  <legend>Add Product</legend>
  <hr>

  <div class="card bg-light">
  <article class="card-body" >
    <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)" >
      <!-- CategoryId -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-building"></i> </span>
      </div>
      <select class="form-control" name="categoryId" formControlName="categoryId">
        <option value=""> Select Location</option>
        <option>Home</option>
        <option>Property</option>
        <option>Electronics</option>
      </select>
    </div>
    <!-- Title -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input  class="form-control" name="title" formControlName="title" placeholder="Title" type="text">
      </div>
      <!-- Specification -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <textarea class="form-control"  class="form-control" name=specification formControlName="specification" placeholder="Specification" rows="3"></textarea>
        </div>
      <!-- Description -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
       <textarea class="form-control"  class="form-control" name=description formControlName="description" placeholder="Description" rows="5"></textarea>
      </div>
      <!-- Price -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="" class="form-control" name="price" formControlName="price" placeholder="Expected Price">
      </div>
      <!-- Location -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
      <select class="custom-select"  name="locationId" formControlName="locationId">
        <option value="">Select Location</option>
        <option value="1">Banglore</option>
          <option value="2">Mumbai</option>
      </select>

      </div>
      <!-- Address -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <textarea class="form-control"  class="form-control" name=address formControlName="address" placeholder="Address" rows="5"></textarea>
        </div>
      <!-- Price negotiable -->
      <fieldset class="form-group">
        <legend>Is Price Negotiable?</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Yes" checked="">
            Yes
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="No">
            No
          </label>
        </div>

      </fieldset>
      <!-- IsActive -->
      <fieldset class="form-group">
        <legend>Product is Active?</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Yes" checked="">
            Yes
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="No">
            No
          </label>
        </div>

      </fieldset>


      <div class="form-group">
          <button type="submit" class="btn btn-success" style="width: 50%;"> Add product</button>
          <button type="submit" class="btn btn-dark" style="width: 50%;"> Reset  </button>
      </div> <!-- form-group// -->
      <p class="text-center">Have an account? <a href="">Log In</a> </p>
  </form>
  </article>
  </div>
</div>
