<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" routerLink="/">People-Hub</a>


  <form class="form-inline my-2 my-lg-0">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-map-marker" aria-hidden="true"></i> </span>
      </div>
      <select class="custom-select"  name="locationId"
        (change) ="onLocationChange()"
        [(ngModel)]="selectedLocation"
      >
        <option value="-1" selected="selected" >Select Location</option>
        <option *ngFor="let item of locations" [ngValue]="item">{{item.locationName}}</option>

      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
  </form>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product-detail">Link</a>
      </li>
    </ul>



    <!-- Search Bar -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <ul class="navbar-nav">
      <li class="nav-item" placement="bottom-right" *ngIf="!authService.isEmployeeLoggedIn">
        <a type="button" class="btn btn-outline-success" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent" *ngIf="authService.isEmployeeLoggedIn">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
              Welcome {{this.authService.employee.firstName }}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
              <a ngbDropdownItem href="http://localhost:4200/product-detail" >Something else here</a>
              <a ngbDropdownItem  (click)="onAddProductClick()">Add Product</a>
              <a ngbDropdownItem  (click)="onLogoutClick()">Logout</a>
            </div>
          </li>
        </ul>
      </div>


  </ul>

</nav>
