<div class="container">
  <br>
  <legend>Upload Images</legend>
  <hr>
  <div class="card bg-light">
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" name="fileInput" #fileInput
            (change)="onFileSelected()">
          <label class="custom-file-label" for="inputGroupFile02">{{uploadedFile}}</label>
        </div>
        <div class="input-group-append">
          <span class="input-group-text btn btn-primary" (click)="uploadImage()">Upload</span>

        </div>
      </div>
    </div>
  </div>

    <!-- Showing the  uploaded Images -->
     <div class="images__container">
      <div class="image" *ngFor="let image of productImages">
        <img   src="{{uploadFolderPath+image.generatedFileName}}" alt="{{image.imageOriginalName}}" class="img-thumbnail product__image"
        style="width: 16rem; height: 16rem;" >
        <button class="btn set-thumbnail-btn btn-sm" (click)="onSetAsThumbnailClicked(image)">Set as Thumnail</button>
        <button class="remove-thumnail-btn" (click)="onImageRemovedClicked(image)">X</button>
      </div>
    </div>
       <!-- <img src="http://192.168.0.102:8887/{{image}}"> -->
      <!-- <img [attr.src]="sanitizer.bypassSecurityTrustResourceUrl(this.testImage)"> -->

  </div>

