
<div class="container">
  <br>
  <legend>Upload Images</legend>
  <hr>
  <div class="card bg-light">

<div class="form-group">
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02" name="fileInput"  #fileInput
       (change)="onFileSelected()">
      <label class="custom-file-label" for="inputGroupFile02">{{uploadedFile}}</label>
    </div>
    <div class="input-group-append">
      <span class="input-group-text btn btn-primary"  (click)= "uploadImage()">Upload</span>
    </div>
  </div>
</div>
</div>